.app {
  padding: 0 40px;
  color:black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}
.app__title {
  padding-bottom: 36px;
}
@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.app__form {
  display: flex;
  flex-direction: row !important;
  margin: 50px;
}
.app-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bordered {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: 2px solid gray;
  border-radius: 4px;
  margin-top: 24px;
}
button {
  padding: 32px;
  background-color: blue;
  border-radius: 4px;
  border-color: transparent;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  margin-top: 24px;
}
